<!DOCTYPE html>
<html lang="en">

<head>
    <title>Darajati - My bike,my freedom </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/images/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/icons8-vélo-48.png">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/templatemo.css">
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">

    <style>
        .bg-pastel-pink {
            background-color: #FFE4E1 !important;
        }
    </style>
</head>
<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-pastel-pink navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-dark text-decoration-none" href="mailto:info@company.com">VeloMAInfo@mail.ma</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-dark text-decoration-none" href="href=" tel:+212-600-123456">+212-600-123456</a>
                </div>
                <div>
                    <a class="text-dark" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-dark" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-dark" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-dark" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center"

            <a class="navbar-brand text-mycolor logo h1 align-self-center fw-bold text-black fs-3" asp-action="Index" asp-controller="Home" style="font-weight:bold !important; ">
              <img src="~/images/icons8-vélo-48.png" />  Darajati
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Boutique">Boutiques</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="AboutUs" asp-controller="Home">À propos de nous</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="ContactUs" asp-controller="Home">Contactez Nous</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluide">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <footer class="bg-pastel-pink" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <!-- Company Info -->
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Darajati</h2>
                    <ul class="list-unstyled text-dark footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Avenue des Cyclistes, Ville 12345
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none text-dark" href="tel:+212-600-123456">+212-600-123456</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none text-dark" href="VeloMAINFO@mail.com">VeloMAINFO@mail.com</a>
                        </li>
                    </ul>
                </div>

                <!-- Quick Links -->
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-dark border-bottom pb-3 border-light">Liens Utiles</h2>
                    <ul class="list-unstyled text-dark footer-link-list">
                        <li><a class="text-decoration-none text-dark" href="#">Accueil</a></li>
                        <li><a class="text-decoration-none text-dark" href="#">À Propos</a></li>
                        <li><a class="text-decoration-none text-dark" href="#">Nos Services</a></li>
                        <li><a class="text-decoration-none text-dark" href="#">Tarifs</a></li>
                        <li><a class="text-decoration-none text-dark" href="#">Contactez-nous</a></li>
                    </ul>
                </div>

                <!-- Social Media & Newsletter -->
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-dark border-bottom pb-3 border-light">Suivez-Nous</h2>
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-dark rounded-circle text-center">
                            <a class="text-dark text-decoration-none" target="_blank" href="https://www.facebook.com/darajati"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-dark rounded-circle text-center">
                            <a class="text-dark text-decoration-none" target="_blank" href="https://www.instagram.com/darajati"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-dark rounded-circle text-center">
                            <a class="text-dark text-decoration-none" target="_blank" href="https://twitter.com/darajati"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-dark rounded-circle text-center">
                            <a class="text-dark text-decoration-none" target="_blank" href="https://www.linkedin.com/company/darajati"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                    <div class="mt-3">
                        <label class="sr-only" for="subscribeEmail">Adresse Email</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control border-dark" id="subscribeEmail" placeholder="Adresse Email">
                            <div class="input-group-text btn-success text-light">S'abonner</div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Footer Bottom -->
            <div class="row text-dark mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-dark"></div>
                </div>
                <div class="col text-center">
                    <p class="text-dark mb-0">
                        &copy; 2025 Darajati - Tous droits réservés.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- End Footer -->
    <!-- Start Script -->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/templatemo.js"></script>
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- End Script -->
</body>
</html>