@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contactez Nous";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-8 m-auto text-center">
        <h1 class="h1">Contact Us</h1>
        <p class="mb-4">
            Notre équipe passionnée est à votre disposition pour vous conseiller 
            et répondre à toutes vos questions concernant la location de vélos.
            Venez nous rendre visite dans notre magasin !
        </p>
        <!-- Image du magasin -->
        <div class="mt-4 mb-5">
            <img src="/images/Leonardo_Phoenix_10_je_veux_une_image_pour_un_magasin_DARAJATI_0.jpg" alt="Notre magasin de vélos" class="img-fluid rounded shadow" style="max-height: 400px; width: auto;">
        </div>
    </div>
</div>
